export MAUTIC_BASE_URL=https://mautic.ieeetamu.org
export MAUTIC_USERNAME=your_username
export MAUTIC_PASSWORD=your_password

export PORTAL_URL=https://portal.ieeetamu.org
export PORTAL_TOKEN=your_portal_api_token
